$background-color: #333333;
$main-text-color: white;
$title-font-size: 2rem;
$subtitle-font-size: 1.4rem;

$separator-size: 4px;
$separator-border-style: solid;
$separator-border-color: #fcd538;
$separator-space-top: 3rem;
$separator-space-bottom: 3rem;

body
{
    padding-top: 2rem;
    color: $main-text-color;
    background-color: $background-color;
}

.humble
{
    padding-top: 3rem;
    border: none;
    border-bottom: 3px solid #888888;
    width: 80%;
    margin: auto;
}

.title
{
    font-size: $title-font-size;
    line-height: 3rem;
    text-align: center;
}

.separator
{
    margin-top: $separator-space-top;
    margin-bottom: $separator-space-bottom;
    border: 0;
}

@keyframes separator-width
{
    0% { width: 0; }
    100% { width: 100%; }
}

@mixin dot
{
    $dot-size: 5px;
    background-color: $separator-border-color;
    display: block;
    height: $dot-size;
    width: $dot-size;
    border-radius: 50%;
}

.separator--dotter
{
    border: 0;
    border-bottom: $separator-size dotted $separator-border-color;
    width: 0;
    animation: separator-width 1s ease-out forwards;
}

.container-fluid
{
    padding-left: 2rem;
}

.container-fluid a
{
    font-size: $subtitle-font-size;
    color: $main-text-color;
    text-decoration: none;
}

#archive
{
    color: $separator-border-color;
    margin-top: 3rem;
}

.tasks, .documents
{
    padding-top: 3rem;
}

.tasks p, .documents p
{
    font-size: $subtitle-font-size;
}

.tasks span
{
    font-size: 1.1rem;
    margin-left: 0.3rem;
}

.tasks object
{
    margin-top: 1rem;
}

.documents
{
    padding-bottom: 3rem;
}

.documents ol
{
    color: $separator-border-color;
    font-size: $subtitle-font-size;
    font-style: italic;
    font-family: Georgia;
}

.documents ol > li
{
    margin-top: 2.2rem;
}

.documents ol > li > a
{
    font-size: 1.2rem;
    font-style: normal;
    font-family: "Segoe UI";
}

#wrapper
{
    position: relative;
    width: 93%;
    margin: auto;
    vertical-align: middle;
}

#ar_one
{
    border-radius: 20px;
    margin-top: 2.2rem;
    padding: 2rem;
    background-color: #564c43;
}

#ar_sec
{
    border-radius: 20px;
    margin-top: 2.2rem;
    padding: 2rem;
    background-color: #434b56;
}
