body
{
    padding-top: 2rem;
    color: white;
    background-color: #333333;
}

.title
{
    font-size: 2rem;
    text-align: center;
    line-height: 3rem;
}

$separator-size: 4px;
$separator-border-style: solid;
$separator-border-color: #fcd538;
$separator-space-top: 3rem;
$separator-space-bottom: 3rem;

.separator
{
    margin-top: $separator-space-top;
    margin-bottom: $separator-space-bottom;
    border: 0;
}

@keyframes separator-width
{
    0% { width: 0; }
    100% { width: 100%; }
}

@mixin dot
{
    $dot-size: 5px;
    content: "";
    background-color: $separator-border-color;
    display: block;
    height: $dot-size;
    width: $dot-size;
    border-radius: 50%;
}

.separator--dotter
{
    border: 0;
    border-bottom: $separator-size dotted $separator-border-color;
    width: 0;
    animation: separator-width 1s ease-out forwards;
}

#bold
{
    font-weight: bold;
}

.container-fluid
{
    padding-left: 2rem;
}

.container-fluid a
{
    font-size: 1.3rem;
    color: white;
    text-decoration: none;
}

#archive
{
    color: #fcd538;
    margin-top: 3rem;
}

.tasks, .documents
{
    padding-top: 3rem;
}

.tasks p, .documents p
{
    font-size: 1.3rem;
}

.tasks span
{
    font-size: 1.1rem;
    margin-left: 0.3rem;
}

.tasks object
{
    margin-top: 1rem;
}

.documents ol
{
    color: #fcd538;
    font-size: 1.8rem;
    font-style: italic;
    font-family: Georgia;
}

.documents ol > li > a
{
    font-size: 1.3rem;
    font-style: normal;
    line-height: 4rem;
}

#wrapper
{
    position: relative;
    width: 93%;
    margin: auto;
    vertical-align: middle;
}

#ar_one
{
    border-radius: 20px;
    margin-top: 2.2rem;
    padding: 2rem;
    background-color: #564c43;
}

#ar_sec
{
    border-radius: 20px;
    margin-top: 2.2rem;
    padding: 2rem;
    background-color: #434b56;
}
